<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finanalysis">

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_face"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_face_round"
        android:supportsRtl="true"
        android:theme="@style/CoolTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AnalyticActivity"
            android:configChanges="orientation"
            android:label="@string/fin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StatisticActivity"
            android:configChanges="orientation"
            android:label="@string/analitic"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExpenseDiagramActivity"
            android:configChanges="orientation"
            android:label="@string/analitic"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddCheckActivity"
            android:configChanges="orientation"
            android:label="@string/add_check"
            android:screenOrientation="portrait" />
    </application>

</manifest>